<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]>&lt;!&ndash;dash;&gt; <html lang="en-US"> &lt;!&ndash;<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Title -->
    <title>桂林电子科技大学校友网</title>

    <!-- Style Sheet-->


    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/flexslider.css">




    <!--[if lt IE 9]>


    <![endif]-->
</head>
<body>
<!-- HEADER TOP -->
<div id="top"></div>

<!-- HEADER IOP -->

<nav  th:include="foreground/header :: header"  ></nav>


<!-- Slider 图片轮播 -->
<div class="flexslider">

    <ul class="slides">
        <li>
            <img src="images/60.jpg" alt="Slider Image">
            <!--                          <div class="detail-one">-->
            <!--                            <h3>USA</h3>-->
            <!--                            <h2>Chicago Night street</h2>-->
            <!--                           	<span>$ 2.400</span>-->
            <!--                          	<a href="#"></a>-->
            <!--                          </div>-->
        </li>
        <li>
            <img src="images/50.jpg" alt="Slider Image">
        </li>
        <li>
            <img src="images/40.jpg" alt="Slider Image">
        </li>
        <li>
            <img src="images/30.jpg" alt="Slider Image">
        </li>


        <li>
            <img src="images/86.jpg" alt="Slider Image">
        </li>
    </ul>
</div>
<!-- Slider -->

<!-- Special Offer -->
<div class="specialoffer-wrapper">
    <div class="container">
        <div class="row">
            <div class="span9">

                <!-- Heading -->
                <div class="row">
                    <div class="span9">
                        <div class="heading hv-2">
                            <h2>新闻 <span>动态</span></h2>
                        </div>
                    </div>
                </div>
                <!-- 新闻动态展示 -->

                <div class="row offer-sec offer-sec-two">
                    <ul class="elastislide-list clearfix" id="carousel">

                        <li class="span3">
                            <div class="offer">
                                <figure>
                                    <img src="http://www.gliet.edu.cn/__local/1/5F/0C/DAB3403B44A4A8E4F52BC14758E_91E4B3FB_AEC0.jpg"  alt="Offer Image">

                                </figure>
                                <article>
                                    <h3>扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余</h3>
                                    <!--                                                    <h4>thailand</h4>-->
                                    <!--                                                    <p><a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                    </p>-->
                                    <!--                                                    <span>Read 8 Reviews</span>-->
                                </article>
                                <!--                                                <div class="price">-->
                                <!--                                                    <h3>138$</h3>-->
                                <!--                                                    <a href="#"></a>-->
                                <!--                                                </div>-->
                            </div>
                        </li>
                        <li class="span3">
                            <div class="offer">
                                <figure>
                                    <img src="http://www.gliet.edu.cn/__local/1/5F/0C/DAB3403B44A4A8E4F52BC14758E_91E4B3FB_AEC0.jpg"  alt="Offer Image">

                                </figure>
                                <article>
                                    <h3>扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余</h3>
                                    <!--                                                    <h4>thailand</h4>-->
                                    <!--                                                    <p><a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                    </p>-->
                                    <!--                                                    <span>Read 8 Reviews</span>-->
                                </article>
                                <!--                                                <div class="price">-->
                                <!--                                                    <h3>138$</h3>-->
                                <!--                                                    <a href="#"></a>-->
                                <!--                                                </div>-->
                            </div>
                        </li>
                        <li class="span3">
                            <div class="offer">
                                <figure>
                                    <img src="http://www.gliet.edu.cn/__local/1/5F/0C/DAB3403B44A4A8E4F52BC14758E_91E4B3FB_AEC0.jpg"  alt="Offer Image">

                                </figure>
                                <article>
                                    <h3>扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余</h3>
                                    <!--                                                    <h4>thailand</h4>-->
                                    <!--                                                    <p><a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                    </p>-->
                                    <!--                                                    <span>Read 8 Reviews</span>-->
                                </article>
                                <!--                                                <div class="price">-->
                                <!--                                                    <h3>138$</h3>-->
                                <!--                                                    <a href="#"></a>-->
                                <!--                                                </div>-->
                            </div>
                        </li>
                        <li class="span3">
                            <div class="offer">
                                <figure>
                                    <img src="http://www.gliet.edu.cn/__local/1/5F/0C/DAB3403B44A4A8E4F52BC14758E_91E4B3FB_AEC0.jpg"  alt="Offer Image">

                                </figure>
                                <article>
                                    <h3>扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余</h3>
                                    <!--                                                    <h4>thailand</h4>-->
                                    <!--                                                    <p><a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                    </p>-->
                                    <!--                                                    <span>Read 8 Reviews</span>-->
                                </article>
                                <!--                                                <div class="price">-->
                                <!--                                                    <h3>138$</h3>-->
                                <!--                                                    <a href="#"></a>-->
                                <!--                                                </div>-->
                            </div>
                        </li>
                        <li class="span3">
                            <div class="offer">
                                <figure>
                                    <img src="http://www.gliet.edu.cn/__local/1/5F/0C/DAB3403B44A4A8E4F52BC14758E_91E4B3FB_AEC0.jpg"  alt="Offer Image">

                                </figure>
                                <article>
                                    <h3>扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余扶贫第一书记刘建余</h3>
                                    <!--                                                    <h4>thailand</h4>-->
                                    <!--                                                    <p><a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#" class="active"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                        <a href="#"></a>-->
                                    <!--                                                    </p>-->
                                    <!--                                                    <span>Read 8 Reviews</span>-->
                                </article>
                                <!--                                                <div class="price">-->
                                <!--                                                    <h3>138$</h3>-->
                                <!--                                                    <a href="#"></a>-->
                                <!--                                                </div>-->
                            </div>
                        </li>

                    </ul>
                    <div class="crousal-btn c-two">
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    </div>

                </div>
                <!--   Heading
                  <div class="row">

                      <div class="span9">
                          <div class="heading hv-2">
                              <h2>新闻 <span>动态</span></h2>
                          </div>
                      </div>
                  </div>
                   Heading -->
                <div class="row">
                    <div class="span4-5">
                        <h3>总会公告</h3>
                        <span class="border">  </span>

                        <ul class="newslist">
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>

                        </ul>
                    </div>
                    <div class="span4-5">
                        <h3>活动预告</h3>
                        <span class="border"> </span>
                        <ul class="newslist">
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                            <li ><a href="#">基金会概况</a></li>
                        </ul>

                    </div>
                </div>

                <!--         <div class="row">
                             &lt;!&ndash;video Section &ndash;&gt;
                             <div class="span6">
                                 <div class="video">
                                     <iframe src="//player.vimeo.com/video/36519586?color=ff9933" width="100%" height="345px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                 </div>
                             </div>
                             &lt;!&ndash;video Section &ndash;&gt;


                         </div>-->

            </div>
            <!--main side-->
            <!--Side Bar-->
            <div class="span3">
                <aside>
                    <div class="days">
                        <a href="#" class="sunday">捐赠</a>

                        <a href="#" class="monday">联系我们</a>
                    </div>

                </aside>
                <div class="row">
                    <div class="span1">

                    </div>
                </div>


                <!--Hot Deal -->
                <div class="hotdeal">
                    <div class="deal-header">
                        <h3>捐 赠  榜</h3>
                    </div>

                    <div id="vcarousel">
                        <ul>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>Kavin hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>381</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>Emma hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>181</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>badda hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>251</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>rex hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>291</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>Kavin hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>381</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>Emma hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>181</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>badda hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>251</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>rex hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>291</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>Kavin hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>381</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>Emma hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>181</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>badda hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>251</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <figure class="pull-left"><img src="images/hotdeal-pic.png" alt="Pic"></figure>
                                <article class=" clearfix">
                                    <div class="hot pull-left">
                                        <p>rex hotel</p>
                                        <p class="star">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                    <div class="price pull-right">
                                        <h3>291</h3>
                                        <span>per night</span>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <a href="" class="d-down"></a>
                        <a href="" class="d-up"></a>
                    </div>

                </div>
                <!--Hot Deal -->

            </div>


            <!--Side Bar-->

        </div>
    </div>
</div>

<!-- Special Offer -->




<!--底部-->
<nav th:include="foreground/footer :: footer"  ></nav>
<!--底部结束-->




<!-- Scripts -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.elastislide.js"></script>
<script src="js/jquery.carouFredSel-6.0.4-packed.js"></script>
<script src="js/jcarousellite_1.0.1.js"></script>
<script src="js/jquery.cycle.all.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.tinyscrollbar.min.js"></script>
<script src="js/foreground/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.scrollbar1').tinyscrollbar();
    });
</script>
<script src="js/custom.js"></script>
</body>
</html>