<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]>&lt;!&ndash;dash;&gt; <html lang="en-US"> &lt;!&ndash;<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Title -->
    <title>桂林电子科技大学校友网</title>

    <!-- Style Sheet-->


    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" href="css/note/bootstrap.css">
    <link rel="stylesheet" href="css/note/mycss.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/flexslider.css">



    <!--[if lt IE 9]>


    <![endif]-->
</head>
<body>
<!-- HEADER TOP -->
<div id="top"></div>

<!-- HEADER IOP -->

<!-- HEADER -->
<nav  th:include="foreground/header :: header"  ></nav>
<!-- HEADER -->

<!-- Crum -->
<div class="crum-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a href="">首页</a>

                <span class="crum"><a href="">校友活动</a></span>
            </div>
        </div>
    </div>
</div>
<!-- Crum-->



<!-- Grid page -->
<div class="content booking_wrap">
    <div class="container">
        <div class="row">
            <div class="span12 booking clearfix">
                <div class="top">
                    <h2>留言栏</h2>


                </div>
                <div class="bottom clearfix">
                    <div id="contenttop">

                        <!--留言列表-->



                        <!--            留言发送输入框-->
                        <div class="card-body">
                            <input type="hidden" name="parentCommentId" value="-1" id="parentCommentId">
                            <input type="hidden" name="replyCommentId" value="-1" id="replyCommentId">
                            <input type="hidden" name="uid" th:value="${user.id}" id="uid">
                            <input type="hidden" name="userName" th:value="${user.sname}" id="userName">
                            <!--            输入框-->
                            <div id="noteEdit">
                                <textarea name="content" id="content" placeholder="说点什么。。。" style="height: 200px;width:100%;"></textarea>
                            </div>

                            <!--提交列表-->

                            <div class="m-3">



                                    <a class="btn btn-primary " href="javascript:void(0)" id="sendcomment" onclick="sendcomment(this)">确定</a>

                                <a  style="color: red"  class="author" id="errmsg">             </a>


                            </div>

                            <!--留言列表-->

                            <div th:fragment="commentslist" id="commentslist">
                                <div  style="border-top: #17a2b8 solid 2px !important;">
                                    <div class="p-1 comments border-left border-right border-bottom">
                                        <div class="container comment  m-1 p-0" th:each="comment,stat:${comments}">
                                            <a class="me-a avatar p-0 m-0">
                                                <img class="img-circle" style="width:30px;height:30px"
                                                     src="http://q9ufzpdqm.bkt.clouddn.com/profile.jpg"
                                                     alt=""  th:src="@{${comment.user.avatar}}">
                                            </a>
                                            <div class=" ml-3  ">
                                                <div class="container ml-2">
                                                    <a class="author">
                                                        <span th:text="${comment.userName}">王也</span>
                                                        <span class="summary-text small"
                                                              th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2020-04-10 16:01:27</span>

                                                        <a  href="javascript:void(0);"onclick="reply(this)"
                                                           th:attr="data-commentId=${comment.cid},data-nickName=${comment.userName},data-parentCommentId=${comment.parentCommentId!=null ? comment.parentCommentId:comment.cid}"><span
                                                                class="text-info summary-text small">回复</span></a>
                                                        <a href="javascript:void(0);" onclick="deletecomment(this)"
                                                           th:attr="data-commentid=${comment.cid}"
                                                           th:if="${user.id}==${comment.uid}">
                                                            <span
                                                                class="summary-text small">删除</span></a>
                                                    </a>
                                                </div>

                                                <div class="messageText ml-2 container m-2" th:text="${comment.content}">诸葛青，你败过吗？
                                                </div>
                                                <!--  评论回复-->
                                                <div class="p-1 comments m-3 border-left " th:if="${comment.replyComments.size()!=0}">
                                                    <div class="container comment  m-1 p-0"
                                                         th:each="reply,replystat: ${comment.replyComments}">
                                                        <a class="me-a avatar p-0 m-0 ">
                                                            <img style="width:30px;height:30px" class="img-circle " th:src="@{${reply.user.avatar}}" src="http://q9ufzpdqm.bkt.clouddn.com/1 (17).jpg"
                                                                 alt="">
                                                        </a>
                                                        <div class=" ml-3   ">
                                                            <div class="container ml-2">

                                                                <a class="author ">
                                                                    <span th:text="${reply.userName}">冯宝宝</span>

                                                                    <span class="summary-text small"
                                                                          th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm:ss')}">2020-04-10 16:01:27</span>
                                                                    <a href="javascript:void(0);" onclick="reply(this) "
                                                                       th:attr="data-commentId=${reply.cid},data-nickName=${reply.userName},data-parentCommentId=${reply.parentCommentId!=null ? reply.parentCommentId:reply.cid}"><span
                                                                            class="text-info summary-text small">回复</span></a>
                                                                </a>
                                                            </div>
                                                            <div class="messageText ml-2 container m-2" th:text="${reply.content}">
                                                                -
                                                            </div>
                                                            <div class="messageText ml-2 container m-2">


                                                                <a href="#" onclick="deletecomment(this)"
                                                                   th:attr="data-commentid=${reply.cid}"
                                                                   th:if="${user.id}==${reply.uid}"><span
                                                                        class="summary-text small">删除</span></a>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="container-lg">
                                        <nav aria-label="Page navigation" class="mt-3 ">
                                            <ul class="pagination">
                                                <li class="page-item"><span class="page-link  changepage" onclick="prepage(this)" style="color: #17a2b8;cursor:pointer" data-page="1">上一页</span></li>
                                                <li class="page-item"><a class="page-link changepage" href="javascript:void(0)" style="color: #17a2b8">当前在第<span>1</span>页</a></li>
                                                <li class="page-item"><span class="page-link" onclick="nextpage(this)" style="color: #17a2b8;cursor:pointer" data-page="1">下一页</span></li>
                                                <li class="page-item text-center  mt-2 ml-2"></li>
                                                <li class="page ml-2 mt-1 w-25 ">
                                                    <span class="text-center ">共1页</span>
                                                    <span class="text-center ">跳转到</span>
                                                    <input type="text" class="w-25   rounded" name="page" id="page">
                                                    <span class="text-center ">页</span>
                                                    <a class="btn btn-primary " href="javascript:void(0)" id="pagebtn" onclick="changepage(this)">确定</a>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>


                                </div>




                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Grid page -->




<!--底部-->
<nav th:include="foreground/footer :: footer"  ></nav>
<!--底部结束-->




<!-- Scripts -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.elastislide.js"></script>
<script src="js/jquery.carouFredSel-6.0.4-packed.js"></script>
<script src="js/jcarousellite_1.0.1.js"></script>
<script src="js/jquery.cycle.all.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.tinyscrollbar.min.js"></script>
<script src="js/foreground/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.scrollbar1').tinyscrollbar();
    });
    function sendcomment(obj ){
        var content = $("#content").val();
        if (content == null || content.length <= 0) {
            $("#errmsg").text("留言内容不能为空");
            return;
        }

        var parentCommentId = $("#parentCommentId").val();
        var replyCommentId = $("#replyCommentId").val();
        var uid = $("#uid").val();
        var username =$("#userName").val();

        $("#commentslist").load("comment/postcomment",
            {
                'userName': username,
                'content': content,
                'parentCommentId': parentCommentId,
                'replyCommentId': replyCommentId,
                'uid': uid
            }, function () {
                clear();
            })
    }

    function reply(obj) {

        // th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"

        // alert(obj)
        var commentId = $(obj).data('commentid');
        var parentCommentId = $(obj).data('parentcommentid');
        var nickName = $(obj).data('nickname');
        // alert(commentId)
        $("#parentCommentId").val(parentCommentId);
        $("#replyCommentId").val(commentId);

        $ = jQuery;
        var top1 = $("#contenttop").offset().top;

        $("#content").attr("placeholder", "@" + nickName).focus();
        $(window).scrollTo(top1, 500);

    }

    function deletecomment(obj) {

        var cid = $(obj).data('commentid');
        $("#commentslist").load("comment/delete",
            {
                'cid': cid
            })
    }


    function nextpage(obj) {
        var page = $(obj).data('page');
        $("#commentslist").load(/*[[@{comment/commentlist}]]*/"comment/commentlist",
            {
                'page': page
            })

    }

    function prepage(obj) {
        var page = $(obj).data('page');
        $("#commentslist").load(/*[[@{comment/commentlist}]]*/"comment/commentlist",
            {
                'page': page
            })
    }
    function changepage(obj) {
        var page = $("#page").val();
        $("#commentslist").load(/*[[@{comment/commentlist}]]*/"comment/commentlist",
            {
                'page': page
            })
    }

    $(function () {
        $.get("nest.html", function (data) {
            $("#nest").html(data);
        });


        $("#commentslist").load(/*[[@{comment/commentlist}]]*/"comment/commentlist",)

    });


    $(function () {

        $(".changepage").click(function () {
            var page = $(this).attr('data-page');
            console.log("pages")
            $("#commentslist").load("comment/commentlist",
                {
                    'page': page
                }, function () {
                    var page = $("#page").val('');
                })
        })


        function clear() {

            $("#content").val('');
            $("#parentCommentId").val('-1');
            $('#replyCommentId').val('-1');
            $("#content").attr('placeholder', '说点什么。。');
        }

        // $('.reply').click(function () {
        //    alert('addasfasf')
        // })


    })

</script>
<script src="js/custom.js"></script>
<script src="js/note/note.js"></script>
</body>
</html>