<!doctype html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Title -->
    <title>桂林电子科技大学校友网</title>

    <!-- Style Sheet-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
</head>
<body>
<!-- HEADER TOP -->
<div id="top"></div>
<!-- HEADER IOP -->

<!-- HEADER -->
<nav  th:include="foreground/header :: header"  ></nav>
<!-- HEADER -->


<!-- Crum -->
<div class="crum-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a href="">首页</a>

                <span class="crum"><a href="">校友活动</a></span>
            </div>
        </div>
    </div>
</div>
<!-- Crum-->

<!-- Grid page -->
<div class="content">
    <div class="container">
        <div class="row">



            <div class="span12 right_content">
                <div class="row">
                    <div class="portfolio-nav span12 clearfix">
                        <div class="row">
                            <div class="span12">
                                <div class="heading">
                                    <h2><span>校友活动</span></h2>
                                </div>
                            </div>
                        </div>
<!--                        <strong>排序:</strong>-->
<!--                        <ul class="option-set clearfix" data-option-key="filter">-->
<!--                            <li><a href="#filter" data-option-value="*"  class="selected">1</a></li>-->
<!--                            <li><a href="#filter" data-option-value=".branding" >2 </a></li>-->
<!--                            <li><a href="#filter" data-option-value=".price" >3</a></li>-->
<!--                            <li><a href="#filter" data-option-value=".star" >4</a></li>-->
<!--                            <li><a href="#filter" data-option-value=".rate" >5</a></li>-->
<!--                        </ul>-->

<!--                        <div class="grid_btn clearfix">-->
<!--                            <a href="xyhd.html" class="grid active"></a>-->
<!--                            <a href="xyhd.html" class="list"></a>-->
<!--                        </div>-->
                        <div class="clearfix"></div>

                    </div>
                </div>


                <div class="row" id="project-container">
                    <div class=" span3 offer element branding">
                        <figure>
                            <img src="http://placehold.it/270x167"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>
                    <div class=" span3 offer element price">
                        <figure>
                            <img src="http://placehold.it/270x167"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>
                    <div class=" span3 offer element rate">
                        <figure>
                            <img src="http://placehold.it/270x167"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>
                    <div class=" span3 offer element rate">
                        <figure>
                            <img src="http://placehold.it/270x167"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>
                    <div class=" span3 offer element price">
                        <figure>
                            <img src="http://placehold.it/270x167"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>
                    <div class=" span3 offer element price">
                        <figure>
                            <img src="http://placehold.it/270x167"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>
                    <div class=" span3 offer element branding">
                    <figure>
                        <img src="http://placehold.it/270x167"  alt="Offer Image">

                    </figure>
                    <article>
                        <h3>秩年返校</h3>
                        <h4>活动地点：桂电</h4>
                        <h4>活动时间：2020/5/1-2020/5/4</h4>

                        <span>已报名人数 100 人</span>
                        <br>
                        <span> 2000阅读 </span>
                    </article>
                    <div class="price">
                        <h3>GO     </h3>
                        <a href="xyhd.html"></a>
                    </div>
                </div>
                    <div class=" span3 offer element rate star">
                        <figure>
                            <img src="http://www.gliet.edu.cn/__local/1/5F/0C/DAB3403B44A4A8E4F52BC14758E_91E4B3FB_AEC0.jpg"  alt="Offer Image">

                        </figure>
                        <article>
                            <h3>秩年返校</h3>
                            <h4>活动地点：桂电</h4>
                            <h4>活动时间：2020/5/1-2020/5/4</h4>

                            <span>已报名人数 100 人</span>
                            <br>
                            <span> 2000阅读 </span>
                        </article>
                        <div class="price">
                            <h3>GO     </h3>
                            <a href="xyhd.html"></a>
                        </div>
                    </div>


                </div>

                <span class="border"></span>

                <div class="pagination clearfix">
                    <p>Showing<a href="#"> 9 </a>page   <a href="#">45</a></p>
                    <div class="errows">
                        <a href="#" class="left_errow"></a>
                        <a href="#" class="right_errow"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Grid page -->


<!--底部-->
<nav th:include="foreground/footer :: footer"  ></nav>
<!--底部结束-->


<!-- Scripts -->
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.elastislide.js"></script>
<script src="js/jquery.carouFredSel-6.0.4-packed.js"></script>
<script src="js/jcarousellite_1.0.1.js"></script>
<script src="js/jquery.zweatherfeed.js"></script>
<script src="js/jquery.simpleWeather-2.3.min.js"></script>
<script src="js/jquery.cycle.all.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/foreground/bootstrap.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.tinyscrollbar.min.js"></script>

<script>
    function goToByScroll(id){
        $ = jQuery;
        $('html,body').animate({scrollTop: $("#"+id).offset().top},1000);
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.scrollbar1').tinyscrollbar();
    });
</script>
<script src="js/custom.js"></script>
</body>
</html>