
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--左侧导航开始-->
<nav th:fragment="copy" >
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="img/profile_small.jpg" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold" th:text="${user.username}">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{logout}" >安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">H+
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="index_v1.html" data-index="0">主页示例一</a>
                    </li>
                </ul>

            </li>
            <li>
                <a class="J_menuItem" href="slider.html"><i class="fa fa-columns"></i> <span class="nav-label">轮播图相册</span></a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-bar-chart-o"></i>
                    <span class="nav-label">角色权限</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="admin/user/index">用户管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="admin/role/index">角色管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="admin/perm/index">权限管理</a>
                    </li>


                </ul>
            </li>

            <li>

                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">信箱 </span><span class="label label-warning pull-right">16</span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="mailbox.html">收件箱</a>
                    </li>
                    <li><a class="J_menuItem" href="mail_detail.html">查看邮件</a>
                    </li>
                    <li><a class="J_menuItem" href="mail_compose.html">写信</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-newspaper-o"></i>
                    <span class="nav-label">文章</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li> <a>关于我们<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a class="J_menuItem" href="">学校情况</a></li>
                            <li><a class="J_menuItem" href="">总会简介</a></li>
                            <li><a class="J_menuItem" href="">组织机构</a></li>
                            <li><a class="J_menuItem" href="">地方分会</a></li>
                            <li><a class="J_menuItem" href="">行业协会</a></li>
                            <li><a class="J_menuItem" href="">规章制度</a></li>
                            <li><a class="J_menuItem" href="">校友之家</a></li>
                            <li><a class="J_menuItem" href="">联系我们</a></li>

                        </ul>
                    </li>
                    <li> <a>新闻公告<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a class="J_menuItem" href="">新闻动态</a></li>
                            <li><a class="J_menuItem" href="">总会公告 </a></li>
                            <li><a class="J_menuItem" href="">活动预告 </a> </li>
                        </ul>
                    </li>
                    <li> <a>校友风采<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a class="J_menuItem" href="">桂电人</a></li>
                            <li><a class="J_menuItem" href="">校友企业 </a></li>
                            <li><a class="J_menuItem" href="">桂电故事 </a> </li>
                        </ul>
                    </li>

                    <li> <a>校友服务<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a class="J_menuItem" href="">返校指南</a></li>
                            <li><a class="J_menuItem" href="">校友招聘 </a></li>
                            <li><a class="J_menuItem" href="">校友卡申请 </a> </li>
                            <li><a class="J_menuItem" href="">校友通讯 </a> </li>
                        </ul>
                    </li>
                    <li> <a>校基金会<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li><a class="J_menuItem" href="">基金会概况</a></li>
                            <li><a class="J_menuItem" href="">理事会构成 </a></li>
                            <li><a class="J_menuItem" href="">信息公开 </a> </li>
                            <li><a class="J_menuItem" href="">捐赠指南 </a> </li>
                            <li><a class="J_menuItem" href="">捐赠项目</a></li>
                            <li><a class="J_menuItem" href="">捐赠鸣谢 </a></li>
                            <li><a class="J_menuItem" href="">报账流程 </a> </li>
                            <li><a class="J_menuItem" href="">联系我们 </a> </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<!--左侧导航结束-->
