<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--头部导航栏开始-->
<nav th:fragment="footer" >
    <!-- Footer widget -->
    <div class="footer-widget-wrapper">
        <div class="container">
            <div class="row">

                <div class="span5 f-widget copy-right">
                    <a href="#" class="f-logo"><img src="images/footer-logo.png" alt="Logo"></a>
                    <!--                            	<p>© 2013 <a href="#">N-Travel</a>. All rights reserved</p>-->
                    <!--                            	<p>Designed by Kavin</p>-->
                    <div class="span2 f-widget">
                        <h4>校友办公室</h4>
                        <ul>
                            <li><a href="#">0773-2290055</a></li>
                            <li class="last"><a href="#">xyzh@guet.edu.cn</a></li>
                        </ul>
                    </div>
                    <div class="span2 f-widget">
                        <h4>校基金会</h4>
                        <ul>
                            <li><a href="#">0773-2290055</a></li>
                            <li class="last"><a href="#">jjh@guet.edu.cn</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="Navigationnav">
                <div class="span1 f-widget">
                    <h4>我们</h4>
                    <ul>
                        <li><a href="#">学校情况</a></li>
                        <li><a href="#">总会简介</a></li>
                        <li><a href="#">组织机构</a></li>
                        <li class="last"><a href="#">联系我们</a></li>
                    </ul>
                </div>
                <div class="span1 f-widget">
                    <h4>新闻</h4>
                    <ul>
                        <li><a href="#">新闻动态</a></li>
                        <li><a href="#">总会公告 </a></li>
                        <li class="last"><a href="#">活动预告 </a> </li>

                    </ul>
                </div>
                <div class="span1 f-widget">
                    <h4>活动</h4>
                    <ul>
                        <li><a href="#">秩年返校</a></li>
                        <li><a href="#">校庆活动月 </a></li>
                        <li class="last"><a href="#">校友活动 </a> </li>
                    </ul>
                </div>
                <div class="span1 f-widget">
                    <h4>风采</h4>
                    <ul>
                        <li><a href="#">桂电人</a></li>
                        <li><a href="#">校友企业 </a></li>
                        <li class="last"><a href="#">桂电故事 </a> </li>
                    </ul>
                </div>
                <div class="span1 f-widget">
                    <h4>服务</h4>
                    <ul>
                        <li><a href="#">返校指南</a></li>
                        <li><a href="#">校友招聘 </a></li>
                        <li><a href="#">校友卡申请 </a> </li>
                        <li class="last"><a href="#">校友通讯 </a> </li>

                    </ul>
                </div>
                <div class="span1 f-widget">
                    <h4>捐赠</h4>
                    <ul>
                        <li><a href="#">基金会概况</a></li>
                        <li><a href="#">捐赠指南 </a> </li>
                        <li><a href="#">捐赠项目</a></li>
                        <li class="last"><a href="#">捐赠鸣谢 </a></li>

                    </ul>
                </div>
                </nav>

            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <a href="javascript:void(0)" onClick="goToByScroll('top')" class="gotop"></a>
    </div>
    <!-- Footer widget -->

    <!-- Footer -->
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="span12">

                    <footer>

                        <a href="javascript:void(0)" onClick="goToByScroll('top')" class="gotop"></a>
                    </footer>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->


</nav>